<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>GENRE: <%= movie.genre ? movie.genre.name : 'Sin catalogar' %> </p>
    <br>
    <h4>ACTORES</h4>
    <ul>
        <% movie.actors.forEach(actor => { %>
         <li><%= actor.first_name %> <%= actor.last_name %></li>
        <% }) %>
    </ul>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <a class="botonVolver" href="/movies/edit/<%= movie.id %>">EDITAR</a>
        <a class="botonBorrar" href="/movies/delete/<%= movie.id %>">ELIMINAR</a>
    </section>

</body>
</html>